rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read access to all
    match /blog/{document} {
      allow read: if true;
      allow write: if request.auth != null && (request.auth.token.email == 'admin@graycodder.com' || request.auth.token.email == 'graycodder@gmail.com');
    }
    
    match /portfolio/{document} {
      allow read: if true;
      allow write: if request.auth != null && (request.auth.token.email == 'admin@graycodder.com' || request.auth.token.email == 'graycodder@gmail.com');
    }
  }
}
