rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read & write access to blog
    match /blog/{document} {
      allow read, write: if true;
    }
    
    // Allow read & write access to portfolio
    match /portfolio/{document} {
      allow read, write: if true;
    }

    // Allow course registrations creation, read, and admin management
    match /registrations/{document} {
      allow read, create, update, delete: if true;
    }
  }
}
